back/myenv
back/app/.env
back/.env
back/app/__pycache__
.prettierrc
front/.env.development
back/alembic
front/node_modules
front/.env.production
front/.env.development
postgres
postgres-data
.vscode
__pycache__/
*.pyc
*.pyo
compose.dev.env
compose.prod.env





back/app/startup/__pycache__/startup.cpython-312.pyc
back/app/storyteller/__pycache__/ai_replies.cpython-312.pyc
back/app/storyteller/__pycache__/storyteller.cpython-312.pyc
back/app/utils/__pycache__/log_decorators.cpython-312.pyc
